<!--For python code
message - the user's name if is logged in

line.title ### the event title
line.date ### event date
line.start_time ### event start time
line.end_time ### event end time
line.description ### event description
line.location ### event location
line.zipcode ### event zipcode

-->
<!DOCTYPE html>
  <html>
   <head>
    <style type="text/css">
		body {
			background-color: #F8DCD0; 
		}
        .auto-style1 {
            text-align: center;
        }
        .auto-style2 {
            text-align: center;
        }
        .auto-style3 {
            text-align: center;
            width: 546px;
        }
    </style>
</head>
	  
<body onload= "myFunction()">
<script type="text/javascript">
function myFunction() {
    document.getElementById('Client Sign Up').style.display = 'none';
	document.getElementById('Restaurant Sign Up').style.display = 'none';
	document.getElementById('Restaurant Home').style.display = 'none';
	document.getElementById('Delivery Info Page').style.display = 'none';
	document.getElementById('Check out page').style.display = 'none';
	document.getElementById('Thank you for info sharing').style.display = 'none';
	document.getElementById('Home').style.display = '';
}
	</script>
	<script type="text/javascript">
function clientSignup() {
    document.getElementById('Client Sign Up').style.display = '';
	document.getElementById('Restaurant Sign Up').style.display = 'none';
	document.getElementById('Restaurant Home').style.display = 'none';
	document.getElementById('Delivery Info Page').style.display = 'none';
	document.getElementById('Check out page').style.display = 'none';
	document.getElementById('Thank you for info sharing').style.display = 'none';
	document.getElementById('Home').style.display = 'none';
}
		</script>

		<script type="text/javascript">
function restSignup() {
    document.getElementById('Client Sign Up').style.display = 'none';
	document.getElementById('Restaurant Sign Up').style.display = '';
	document.getElementById('Restaurant Home').style.display = 'none';
	document.getElementById('Delivery Info Page').style.display = 'none';
	document.getElementById('Check out page').style.display = 'none';
	document.getElementById('Thank you for info sharing').style.display = 'none';
	document.getElementById('Home').style.display = 'none';
}
		</script>
	<script type="text/javascript">
function clientSubmit() {
    document.getElementById('Client Sign Up').style.display = 'none';
	document.getElementById('Restaurant Sign Up').style.display = 'none';
	document.getElementById('Restaurant Home').style.display = '';
	document.getElementById('Delivery Info Page').style.display = 'none';
	document.getElementById('Check out page').style.display = 'none';
	document.getElementById('Thank you for info sharing').style.display = 'none';
	document.getElementById('Home').style.display = 'none';
}
	</script>
	<script type="text/javascript">
function checkout() {
    document.getElementById('Client Sign Up').style.display = 'none';
	document.getElementById('Restaurant Sign Up').style.display = 'none';
	document.getElementById('Restaurant Home').style.display = 'none';
	document.getElementById('Delivery Info Page').style.display = '';
	document.getElementById('Check out page').style.display = 'none';
	document.getElementById('Thank you for info sharing').style.display = 'none';
	document.getElementById('Home').style.display = 'none';
}
	</script>

	<script type="text/javascript">
function deliveryInfo() {
    document.getElementById('Client Sign Up').style.display = 'none';
	document.getElementById('Restaurant Sign Up').style.display = 'none';
	document.getElementById('Restaurant Home').style.display = 'none';
	document.getElementById('Delivery Info Page').style.display = 'none';
	document.getElementById('Check out page').style.display = '';
	document.getElementById('Thank you for info sharing').style.display = 'none';
	document.getElementById('Home').style.display = 'none';
}
	</script>
	<script type="text/javascript">
function thankYou() {
    document.getElementById('Client Sign Up').style.display = 'none';
	document.getElementById('Restaurant Sign Up').style.display = 'none';
	document.getElementById('Restaurant Home').style.display = 'none';
	document.getElementById('Delivery Info Page').style.display = 'none';
	document.getElementById('Check out page').style.display = 'none';
	document.getElementById('Thank you for info sharing').style.display = '';
	document.getElementById('Home').style.display = 'none';
}
	</script>
	
<div id="Home" class="auto-style1">
<h1 class="auto-style1"><em><strong>Welcome to iCater </strong></em> </h1>

<h2 class="auto-style1"><em><strong>please choose an option below </strong></em> </h2>
     
    <p class="auto-style1">&nbsp;</p>
  <table class="auto-style3" align="center">
	 </table>  
	   <tr> <td> <h3><a href="#Client Sign Up" name="Category" onClick="return clientSignup()" value="Client" class="auto-style2">Client<br>
	      </a></h3></td></tr>
    <tr> <td> <h3><a href="#Restaurant Sign Up" name="Category" onClick= "return restSignup()" value="Restaurant" class="auto-style2">Restaurant </a></h3></td></tr><br>
	
	  	  </div>

 <div id="Restaurant Sign Up"><h1 class="auto-style1"><em><strong>Restaurant Sign Up</strong></em></h1>

<form action="#Restaurant Home" method="get">
    <p class="auto-style1">    <br />
  </p>
<table class="auto-style3" align="center">

<tr>
 <td valign="top" class="auto-style2">
  <label for="Name">Restaurant Name*</label>
 </td>
 <td valign="top" class="auto-style2">
  <input  type="text" name="name" maxlength="70" size="50">
 </td>
</tr>
 
<tr>
 <td valign="top" class="auto-style2">
  <label for="email">Email*</label>
 </td>
 <td valign="top" class="auto-style2">
  <input  type="text" name="email" maxlength="60" size="40">
 </td>
</tr>
<tr>
 <td valign="top" class="auto-style2">
  <label for="password"> Password *</label>
 </td>
 <td valign="top" class="auto-style2">
  <input  type="text" name="password" maxlength="50" size="30">
 </td>
 
</tr>
<tr>
 <td valign="top" class="auto-style2">
  <label for="Re-enter_Password">Re-enter Password * </label>
 </td>
 <td valign="top" class="auto-style2">
  <input  type="text" name="Re-enter_Password" maxlength="70" size="50">
 </td>
</tr>
<tr>
 <td colspan="2">
<input type="Submit" onClick="return clientSubmit('Restaurant Home')" value="Sign Up">  
 </td>
</tr>
</table>
</form>
   </div> 
   
 <div id="Client Sign Up"> <h1 class="auto-style1"><em><strong>Client Sign Up</strong></em></h1> 

<form action="#Restaurant Home" method="get">
    <p class="auto-style1">    <br />
  </p>
<table class="auto-style3" align="center">

<tr>
 <td valign="top" class="auto-style2">
  <label for="FirstName">First Name *</label>
 </td>
 <td valign="top" class="auto-style2">
  <input  type="text" name="name" maxlength="60" size="50">
 </td>
</tr>

<tr>
 <td valign="top" class="auto-style2">
  <label for="LastName">Last Name *</label>
 </td>
 <td valign="top" class="auto-style2">
  <input  type="text" name="name" maxlength="60" size="50">
 </td>
</tr>
    
<tr>
 <td valign="top" class="auto-style2">
  <label for="email">Email*</label>
 </td>
 <td valign="top" class="auto-style2">
  <input  type="text" name="email" maxlength="60" size="50">
 </td>
</tr>

<tr>
 <td valign="top" class="auto-style2">
  <label for="password"> Password *</label>
 </td>
 <td valign="top" class="auto-style2">
  <input  type="text" name="password" maxlength="60" size="50">
 </td>
</tr>

<tr>
 <td colspan="2">
  <input type="Submit" onClick="return clientSubmit('Restaurant Home')" value="Sign Up">  
 </td>
</tr>
</table>
</form>
 </div>  
	
	
	
  <div id="Restaurant Home"> <p class="auto-style1">   
  </p>
      	{% for line in posts %}
        <div>
         <div id="Restaurant Home"> <p class="auto-style1">   
  </p>
  <table width="868" align="center" class="auto-style3">
  <tr>
 <td valign="top" class="auto-style2">
   <img src="{{line.website_image}}" style="width:250px;height:250px;">
 </td>
 </tr>
 
 <tr>
 <td valign="top" class="auto-style2">
  <label for="Restaurant_Name"><h2>{{line.restaurant_name}}</h2> </label>
 </td>
 </tr>
 
 <tr>
 <td valign="top" class="auto-style2">
  <label for="Cuisine">{{line.cuisine}}</label>
 </td>
 </tr>
<tr>
 <td valign="top" class="auto-style2">
  <label for="price">Minimum Order: {{line.min_order}} </label></td>
 </tr>
<tr>
 <td valign="top" class="auto-style2">
  <label for="Website"> <a href="{{line.restaurant_url}}">Website</a> </label>
 </td>
</tr>
<tr>
 <td valign="top" class="auto-style2">
  <label for="Checkout"> <a href="#Delivery Info Page">Checkout</a> </label>
 </td>
</tr>
</table>
        </div>
    {% endfor %}
	<h1 align="center">Choose Menu Items from the list</h1>
    <div>
 <table class="generic-table events_table" border="5px solid black" align="center">
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        {%if posts%}
        {% for line in posts %}
        <tr>
            <td>{{line.item_name}}</td>
            <td>{{line.item_description}}</td>
            <td>{{line.item_price}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
        </div>
	
<body>
</body>
</html>
