<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
        }

        td {
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <h1>Signup For Events!</h1>

    {%if signupMessage%}
    <p>{{signupMessage}}</p>
    {% endif %}
    <p><a href="/searchByInterest">Click here</a> to view events that match your interests!</p>
    <p><a href="/friends-events">Click here</a> to view events that your friends signed up for!</p>
    {%if posts%}
    <table class="generic-table events_table">
        <th>ID</th>
        <th>Title</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Description</th>
        <th>Location</th> <!--location name-->
        <th>Zipcode</th> <!--location zipcode-->

        {% for line in posts %}
        <tr>
            <td>{{line.event_id}}</td>
            <td>{{line.title}}</td>
            <td>{{line.start_time}}</td>
            <td>{{line.end_time}}</td>
            <td>{{line.description}}</td>
            <td>{{line.location_name}}</td>
            <td>{{line.zipcode}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {%if postsError%}
    <p>{{postsError}}</p>
    {% endif %}

    <h2>Enter the event id along with the group id to sign up for an event</h2>
    <form action="/insertSignup" method="POST">
        <input type="number" name="event_id" placeholder="type an event's id here" required />
        <input type="submit" value="Sign Up" />
    </form>
    {%if signupMessage%}
    <p>{{signupMessage}}</p>
    {% endif %}

    <a href="/">Home</a><br/>
    <a href="/home">My FindFolks</a><br/>
    <a href="/logout">Logout</a><br/>
</body>
</html>